.container-edit-card {
  padding: 8% 3% 0% 3%;
  background-color: rgba(219, 219, 219, 0.0784313725);
}
.link-index {
  position: absolute;
  top: 12%;
  left: 2%;
}
.cont-title {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3%;
  text-align: center;
}
.form-edit {
  padding: 3%;
  height: 48rem;
  margin-bottom: 1%;
  background-color: #fff;
  input {
    margin-top: 5%;
  }
  textarea {
    padding-top: 2rem;
  }
}
.form-picture {
  padding: 3%;
  height: 21rem;
  background-color: #fff;
}
.description-txt {
  height: 9rem;
}
.field-photo span {
  height: 5rem;
  width: 5rem;
}
.btn-submit {
  float: right;
  text-align: center;
  color: #fff;
  background-color: #edecec;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
}
.btn-valid-form {
  background-color: #6B7280;
}
.dropdown-menu {
  display: none;
}
.show {
  display: block;
}
.status-choice {
  cursor: pointer;
}
.selected-status {
  height: 55%;
  background-color: #efefef;
  padding: 1%;
  width: 25%;
  border-radius: 4px;
  text-align: center;
}
.color-submit {
  background-color: #6B7280;
}
.color-submit-status {
  background-color: #6B7280;
}
.error-msg {
  display: flex;
  justify-content: end;
  color: red;
  font-size: 11px;
  width: 100%;
}

@media (max-width: 991px)  {
  .container-edit-card {
    padding: 16% 3% 0% 3%;
  }
}

@media (max-width: 768px) {
  .form-edit {
    height: 66rem;
  }
  .form-picture {
    height: 18rem;
  }
  .selected-status {
    height: unset;
  }
}

@media (max-width: 600px)  {
  .container-edit-card {
    padding: 34% 3% 0% 3%;
  }
  .form-edit {
    padding: 7% 7% 0 7%;
    height: 60rem;
  }
  .selected-status {
    width: 37%;
  }
  h1 {
    font-size: 20px;
  }
}

@media (max-width: 480px)  {
  .form-edit {
    height: 58rem;
  }
  .selected-status {
    width: 37%;
  }
}
