.container-list-missing {
  display: flex;
  width: 100%;
  padding: 12% 3% 0% 3%;
}

.link-index {
  position: absolute;
  top: 12%;
  left: 2%;
}

.cont-title {
  width: 100%;
}

.cont-title h1 {
  text-align: center;
}

.container-page {
  display: flex;
  justify-content: center;
}

.posts-lists {
  margin-bottom: 5%;
}
