.container-list-missing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 12% 3% 0% 3%;
}
.link-index {
  position: absolute;
  top: 12%;
  left: 2%;
}
.cont-title {
  width: 100%;
  h1 {
    text-align: center;
  }
}
.container-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.posts-lists {
  margin-bottom: 5%;
  width: 80%;
}


@media (max-width: 991px)  {
  .container-list-missing {
    padding: 16% 3% 0% 3%;
  }
}

@media (max-width: 768px) {
  form {
    height: 61rem;
  }
}

@media (max-width: 600px)  {
  .container-list-missing {
    padding: 34% 0% 0% 0%;
  }
  .posts-lists {
    width: 95%;
  }
  h1 {
    font-size: 20px;
  }
  form {
    padding: 7% 7% 0 7%;
    margin-top: 6%;
    height: 64rem;
  }
  .cont-submit {
    width: 100%;
  }
  .btn-submit {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5%;
  }
}
