/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 0 5px;
  position: absolute;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 9%);
          box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 9%);
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85px;
    margin: 1% 0 1% 1%;
  }
  a {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 15px;
    position: relative;
    width: 75%;
    .nav-links {
      text-decoration: none;
      color: rgb(0, 0, 0);
      padding-bottom: .15em;
      cursor: pointer;
    }
    .nav-links:hover {
      color: #5e5e5e;
    }
  }
  .icon-header {
    display: none;
  }
  .icon-header-notlogged {
    display: none;
  }
  .navigation-notlogged {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 15px;
    position: relative;
    width: 20%;
  }
}

@media (max-width: 1200px)  {
  .navigation {
    width: 65% !important;
  }
  .navigation-notlogged {
    width: 20% !important;
  }
}

@media (max-width: 991px)  {
  .navigation {
    width: 82% !important;
  }
  .navigation-notlogged {
    width: 26% !important;
  }
}

@media (max-width: 768px)  {
  .navigation {
    font-size: 12px;
    width: 87% !important;
    padding-right: 0 !important;
  }
  .navigation-notlogged {
    width: 35% !important;
  }
  .logo {
    width: 60px !important;
  }
  .nav-links {
    margin-right: 2%;
  }
}

@media (max-width: 600px)  {
  a {
    word-wrap: break-word;
  }
  .navigation-notlogged {
    width: 30% !important;
  }
  .icon-header {
    display: block !important;
    cursor: pointer;
    i {
      font-size: 18px;
    }
  }
  .icon-header-notlogged {
    display: block !important;
    cursor: pointer;
    padding-right: 4%;
    i {
      font-size: 18px;
    }
  }
  .nav-links {
    display: none;
  }
  .navigation {
    width: 65% !important ;
  }
}





