<div class="container-header">
    <div class="logo">
      <a href="#"><img class="logo" src="../../assets/logo-missing.png" alt="The logo of Missing website"></a>
    </div>

    <!-- Links to SignUp and Login if user not connected or registered -->
    <div [ngClass]="{'navigation-notlogged': !isLoggedIn, 'navigation': isLoggedIn}" >
      <!-- Signup link  -->
      <a *ngIf="!isLoggedIn" class="nav-links" routerLink="/signin">
        S'inscrire
      </a>
       <!-- Icon signup  -->
       <div *ngIf="!isLoggedIn" class="icon-header-notlogged" routerLink="/signin">
        <a><i class="fa-solid fa-user-plus"></i></a>
      </div>

      <!-- Login Link  -->
      <a *ngIf="!isLoggedIn" class="nav-links" routerLink="/login">
        Se connecter
      </a>
       <!-- Icon login  -->
       <div *ngIf="!isLoggedIn" class="icon-header-notlogged" routerLink="/login">
        <a><i class="fa-solid fa-right-to-bracket"></i></a>
      </div>

      <!-- User informations  -->
      <a *ngIf="isLoggedIn" class="nav-links" routerLink="/user-infos/{{ userId }}">
        Mes informations
      </a>
      <!-- Icon user informations  -->
      <div *ngIf="isLoggedIn" class="icon-header" routerLink="/user-infos/{{ userId }}">
        <a><i class="fa-solid fa-user-pen"></i></a>
      </div>

      <!-- Create post  -->
      <a *ngIf="isLoggedIn" class="nav-links" routerLink="/create-post/{{ userId }}">
        Créer une fiche disparition
      </a>
      <!-- Icon create post  -->
      <div *ngIf="isLoggedIn" class="icon-header" routerLink="/create-post/{{ userId }}">
        <a><i class="fa-solid fa-person-circle-plus"></i></a>
      </div>

      <!-- Logout  -->
      <a *ngIf="isLoggedIn" class="nav-links" (click)="logout($event)">
        Se déconnecter
      </a>
      <!-- Icon logout  -->
      <div *ngIf="isLoggedIn" class="icon-header" (click)="logout($event)">
        <a><i class="fa-solid fa-right-from-bracket"></i></a>
      </div>

    </div>
</div>

