.container-signin {
  position: relative;
  height: 100%;
  padding: 17% 16% 0% 16%;
}
.signin-content {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
}
.link-index {
  position: absolute;
  top: 8%;
  left: 2%;
}
.logo {
  margin-bottom: 5%;
}
.error-message {
  color: red;
  font-size: 11px;
}
.instruction {
  color: #9CA3AF;
  font-size: 10px;
}
.cont-btn {
  text-align: center;
  .btn-signin {
    text-align: center;
    color: #fff;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
  }
  .btn-invalid-form {
    background-color: #edecec;
  }
  .btn-valid-form {
    background-color: #6B7280;
  }
}
span {
  display: block;
}

@media (max-width: 992px) {
  .container-signin {
    padding: 32% 0% 0% 0%;
  }
}

@media (max-width: 768px)  {
  .container-signin {
    padding: 20% 0% 0% 0%;
  }
}

@media (max-width: 580px)  {
  .container-signin {
    padding: 40% 0% 0% 0%;
  }
  h1 {
    font-size: 15px;
  }
  label {
    font-size: 12px !important;
  }
  input {
    font-size: 12px !important;
  }
  p {
    font-size: 12px !important;
  }
  button {
    font-size: 12px !important;
    padding: 3% !important;
  }
  svg {
    width: 17px;
  }
}
