.container-signin {
  position: relative;
  height: 100%;
  padding: 12% 16% 0% 16%;
  .signin-content {
    background-color: #fff;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
  }
  .link-index {
    position: absolute;
    top: 12%;
    left: 2%;
  }
  .logo {
    margin-bottom: 5%;
  }
  .error-email,
  .error-birth-date {
    color: red;
  }
  .cont-btn {
    text-align: center;
    .btn-signin {
      text-align: center;
      color: #fff;
      box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
    }
    .btn-invalid-form {
      background-color: #edecec;
    }
    .btn-valid-form {
      background-color: #6B7280;
    }
  }
  span{
    display: block;
  }
}


