.container-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10% 2% 3% 20% ;
  background-color: rgba(219, 219, 219, 0.0784313725);
  .cont-title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 3%;
  }
  .cont-user-infos {
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
    padding: 1%;
    width: 95%;
    position: relative;
  }
  .cont-edit {
    position: absolute;
    top: 6%;
    right: 2%;
    svg {
      width: 75%;
    }
  }
  .cont-delete {
    display: flex;
    justify-content: end;
    width: 95%;
    font-size: 12px;
    cursor: pointer;
  }
  .cont-img {
    width: 30%;
  }
  .datas {
    width: 100%;
  }
  form {
    width: 95%;
    margin-bottom: 2%;
    padding: 3%;
    .btn-close {
      display: flex;
      justify-content: end;
      width: 100%;
    }
  }
  .image-user {
    margin: 2% 0;
  }
  .change-btn {
    color: #7ca57c;
    background-color: #fff;
    border: 1px solid #7ca57c;
  }
  .upload-text {
    color: #7ca57c;
  }
  .btn-submit {
    margin-top: 4%;
    color: #fff;
    background-color: #7ca57c;
  }
}
