<div class="container-user">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="cont-title">
    <h1>Mes informations</h1>
  </div>

  <div
    class="cont-user-infos flex border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700"> <!--hover changement de couleur lorsqu'on passe la souris -->
    <!-- Button Edit Post -->
    <div class="cont-edit">
      <button class="btn-close" (click)="showFormUser()">
        <svg
          aria-hidden="true"
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75"
          fill="currentColor"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6
               21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.8
               15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43
               96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32
               32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
          />
        </svg>
      </button>
    </div>

    <!-- Picture -->
    <div *ngIf="user.image" class="cont-img">
      <a href="#">
        <img class="object-cover md:rounded-none md:rounded-l-lg" src="{{ user.image }}" alt="The profile picture">
      </a>
    </div>

    <!-- Datas -->
    <div class="datas flex flex-col justify-between p-4 leading-normal">
      <span class="field"><strong>Prénom:</strong> {{ user.firstname }}</span>
      <span class="field"><strong>Nom:</strong> {{ user.lastname }}</span>
      <span class="field"><strong>Email:</strong> {{ user.email }}</span>
      <span class="field"><strong>Date de naissance:</strong> {{ user.birthDate }}</span>
    </div>
  </div>

  <!-- Form to edit User -->
  <form
    *ngIf="isClicked"
    [formGroup]="editUserForm"
    enctype="multipart/form-data"
    (submit)="editUser($event, userId)"
    class="border border-gray-200 rounded-lg shadow dark:border-gray-700 hover:bg-gray-100"
  >
    <button class="btn-close" (click)="closeForm()">
      <svg
        aria-hidden="true"
        class="creation-icon flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900
               dark:group-hover:text-white"
        fill="currentColor"
        viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M175 175C184.4 165.7 199.6 165.7 208.1 175L255.1 222.1L303 175C312.4 165.7 327.6 165.7 336.1 175C346.3 184.4 346.3 199.6 336.1
             208.1L289.9 255.1L336.1 303C346.3 312.4 346.3 327.6 336.1 336.1C327.6 346.3 312.4 346.3 303 336.1L255.1 289.9L208.1 336.1C199.6
             346.3 184.4 346.3 175 336.1C165.7 327.6 165.7 312.4 175 303L222.1 255.1L175 208.1C165.7 199.6 165.7 184.4 175 175V175zM512 256C512
             397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48
             370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"
          />
      </svg>
    </button>

    <div class="grid md:grid-cols-2 md:gap-6">
      <!-- Firstname -->
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="floating_first_name"
          id="floating_first_name"
          formControlName="firstname"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
                 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0
                 focus:border-blue-600 peer"
          placeholder="{{ user.firstname }}"
          required
        />
        <label
        for="floating_first_name"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-2
               scale-55 bottom-7 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500
               peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-55 peer-focus:-translate-y-2"
        >
          Prénom
      </label>
      </div>
      <!-- Lastname -->
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="floating_last_name"
          id="floating_last_name"
          formControlName="lastname"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none
                 dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder="{{ user.lastname}}"
          required
        />
        <label
          for="floating_last_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-2
                 scale-55 bottom-7 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500
                 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-55 peer-focus:-translate-y-2"
        >
          Nom
        </label>
      </div>
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
      <!-- Birth date -->
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="date"
          name="birthDate"
          id="birthDate"
          formControlName="birthDate"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none
                 dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          required
        />
        <label
          for="floating_last_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-2
                 scale-55 bottom-7 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500
                 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-55 peer-focus:-translate-y-2"
        >
          Date de naissance
        </label>
      </div>
      <!-- Email -->
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none
                 dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder="{{ user.email }}"
          required
        />
        <label
          for="email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-2
          scale-55 bottom-7 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500
          peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-55 peer-focus:-translate-y-2"
        >
          Email
        </label>
      </div>
    </div>

    <!-- Picture -->
    <div class="field-photo">
      <label class="block text-sm font-medium text-gray-700">Ajouter une photo</label>
      <div class="image-user mt-1 flex items-center">
        <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100">
          <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        </span>
      </div>
    </div>

    <!-- Drag and drop picture -->
    <div class="field-photo">
      <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
        <div class="space-y-1 text-center">
          <svg
            class="mx-auto h-12 w-12 text-gray-400"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 48 48"
            aria-hidden="true"
          >
            <path
              d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8
                  32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div class="flex text-sm text-gray-600">
            <label
              for="image"
              class="relative cursor-pointer rounded-md bg-white font-medium focus-within:outline-none
              focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500"
            >
              <span class="upload-text">Upload a file</span>
              <input
                id="image"
                name="image"
                type="file"
                enctype="multipart/form-data"
                (change)="onFileSelected($event)"
                class="sr-only"
                required="true"
              />
            </label>
            <p class="pl-1">or drag and drop</p>
          </div>
          <p id="file-name"></p>
          <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
        </div>
      </div>
    </div>

    <!-- Button Edit Post -->
    <button
      type="submit"
      class="btn-submit py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 rounded-lg border border-gray-200
             focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800
             dark:text-gray-400 dark:border-gray-600 inline-flex items-center"
      >
       Enregistrer
    </button>
    <span *ngIf="isSend" class="message">Votre fiche disparition a bien été crée</span>
  </form>

  <!-- Button Delete Post -->
  <div class="cont-delete">
    <span (click)="deleteUser($event, userId)">Supprimer mon compte</span>
  </div>

</div>
