<div class="container-user">
  <!-- Back Index -->
  <a href="/posts-index"
    class="link-index flex items-center text-base font-normal text-gray-900
    rounded-lg dark:text-red hover:bg-gray-100
    dark:hover:bg-gray-700">
    <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500
      transition duration-75 dark:text-gray-400
      group-hover:text-gray-900 dark:group-hover:text-white"
      fill="currentColor"
      viewBox="0 0 512 512"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        d="M360 224L272 224v-56c0-9.531-5.656-18.16-14.38-22C248.9 142.2 238.7
        143.9 231.7 150.4l-96 88.75C130.8 243.7
        128 250.1 128 256.8c.3125 7.781 2.875 13.25 7.844 17.75l96 87.25c7.031
        6.406 17.19 8.031 25.88 4.188s14.28-12.44
        14.28-21.94l-.002-56L360 288C373.3 288 384 277.3 384 264v-16C384 234.8
        373.3 224 360 224zM256 0C114.6 0 0 114.6
        0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7
        0-208-93.31-208-208S141.3 48 256 48s208
        93.31 208 208S370.7 464 256 464z"
        />
      </svg>
      <span class="flex-1 ml-3 whitespace-nowrap"></span>
  </a>

  <div class="cont-title">
    <h1>Mes informations</h1>
  </div>

  <!-- Form to edit User -->
  <form
    [formGroup]="editUserForm"
    enctype="multipart/form-data"
    (submit)="editUser($event)"
    class="border border-gray-200 rounded-lg shadow dark:border-gray-700s">
    <div class="grid md:grid-cols-2 md:gap-6">
      <!-- Firstname -->
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="floating_first_name"
          id="floating_first_name"
          formControlName="firstname"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent
          border-0 border-b-2 border-gray-300
          appearance-none dark:text-white dark:border-gray-600
          dark:focus:border-blue-500 focus:outline-none focus:ring-0
          focus:border-blue-600 peer"
          placeholder="{{ user.firstname }}"
          required
        />
        <label
          for="floating_first_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500
          dark:text-gray-400 duration-300 transform -translate-y-2
          scale-55 bottom-7 -z-10 origin-[0] peer-focus:left-0
          peer-focus:text-blue-600 peer-focus:dark:text-blue-500
          peer-placeholder-shown:scale-100
          peer-placeholder-shown:translate-y-0 peer-focus:scale-55
          peer-focus:-translate-y-2">
          Prénom
        </label>
      </div>
      <!-- Lastname -->
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="floating_last_name"
          id="floating_last_name"
          formControlName="lastname"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent
          border-0 border-b-2 border-gray-300 appearance-none
          dark:text-white dark:border-gray-600 dark:focus:border-blue-500
          focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder="{{ user.lastname}}"
          required
        />
        <label
          for="floating_last_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500
          dark:text-gray-400 duration-300 transform -translate-y-2
          scale-55 bottom-7 -z-10 origin-[0] peer-focus:left-0
          peer-focus:text-blue-600 peer-focus:dark:text-blue-500
          peer-placeholder-shown:scale-100
          peer-placeholder-shown:translate-y-0 peer-focus:scale-55
          peer-focus:-translate-y-2">
          Nom
        </label>
      </div>
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
      <!-- Birth date -->
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="date"
          name="birthDate"
          id="birthDate"
          formControlName="birthDate"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent
          border-0 border-b-2 border-gray-300 appearance-none
          dark:text-white dark:border-gray-600 dark:focus:border-blue-500
          focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          required
        />
        <label
          for="floating_last_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500
          dark:text-gray-400 duration-300 transform -translate-y-2
          scale-55 bottom-7 -z-10 origin-[0] peer-focus:left-0
          peer-focus:text-blue-600 peer-focus:dark:text-blue-500
          peer-placeholder-shown:scale-100
          peer-placeholder-shown:translate-y-0 peer-focus:scale-55
          peer-focus:-translate-y-2">
          Date de naissance
        </label>
      </div>
      <!-- Email -->
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent
          border-0 border-b-2 border-gray-300 appearance-none
          dark:text-white dark:border-gray-600 dark:focus:border-blue-500
          focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder="{{ user.email }}"
          required
        />
        <label
          for="email"
          class="peer-focus:font-medium absolute text-sm text-gray-500
          dark:text-gray-400 duration-300 transform -translate-y-2
          scale-55 bottom-7 -z-10 origin-[0] peer-focus:left-0
          peer-focus:text-blue-600 peer-focus:dark:text-blue-500
          peer-placeholder-shown:scale-100
          peer-placeholder-shown:translate-y-0 peer-focus:scale-55
          peer-focus:-translate-y-2">
          Email
        </label>
      </div>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn-submit py-2.5 px-5 mr-2 text-sm font-medium text-gray-900
      rounded-lg border border-gray-200
      focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700
      focus:text-blue-700 dark:bg-gray-800
      dark:text-gray-400 dark:border-gray-600 inline-flex items-center"
      [ngClass]="{ 'btn-valid-form': editUserForm.valid }">
      Enregistrer
    </button>
  </form>

  <!-- Form to add or update profile picture -->
  <form
    enctype="multipart/form-data"
    (submit)="updateProfilePicture($event)"
    class="border border-gray-200 rounded-lg shadow dark:border-gray-700s">
    <!-- Picture -->
    <div class="field-photo">
      <label class="block text-sm font-medium text-gray-700">Ajouter une photo</label>
      <div class="image-user mt-1 flex items-center">
        <span class="inline-block h-12 w-12 overflow-hidden rounded-full
          bg-gray-100">
          <svg *ngIf="!user.image" class="h-full w-full text-gray-300"
            fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0
              9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0
              11-8 0 4 4 0 018 0z"
              />
          </svg>
          <img *ngIf="user.image" class="h-full w-full object-cover" src="{{
            user.image }}" alt="Photo de profil">
        </span>
      </div>
    </div>

    <!-- Drag and drop picture -->
    <div class="field-photo">
      <div class="mt-1 mb-10 flex justify-center rounded-md border-2
        border-dashed border-gray-300 px-6 pt-5 pb-6">
        <div class="space-y-1 text-center">
          <svg
            class="mx-auto h-12 w-12 text-gray-400"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 48 48"
            aria-hidden="true">
            <path
              d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4
              0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8
              32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12
              4h.02"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              />
          </svg>
          <div class="flex text-sm text-gray-600">
            <label
              for="image"
              class="relative cursor-pointer rounded-md bg-white
              font-medium focus-within:outline-none
              focus-within:ring-2 focus-within:ring-indigo-500
              focus-within:ring-offset-2 hover:text-indigo-500">
              <span class="font-medium dark:text-primary-500
                text-primary-600 upload-text">Upload a file</span>
              <input
                id="image"
                name="image"
                type="file"
                enctype="multipart/form-data"
                (change)="onFileSelected($event)"
                class="sr-only"
                required="true"
                />
            </label>
            <p class="pl-1">or drag and drop</p>
          </div>
          <p id="file-name"></p>
          <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
        </div>
      </div>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn-submit py-2.5 px-5 mr-2 text-sm font-medium text-gray-900
      rounded-lg border border-gray-200
      focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700
      focus:text-blue-700 dark:bg-gray-800
      dark:text-gray-400 dark:border-gray-600 inline-flex items-center">
      Enregistrer la photo
    </button>
  </form>


  <!-- Button Delete Account -->
  <div class="cont-delete">
    <span (click)="deleteUser($event)">Supprimer mon compte</span>
  </div>
</div>
