.container-posts-list {
  position: relative;
  height: 100%;
  padding: 10% 3% 0 3%;
  .posts-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cont-creation {
    width: 100%;
    display: flex;
    justify-content: end;
    float: right;
    .span-creation {
      font-size: 13px;
      margin-left: 8px;
      padding-top: 2%;
    }
    .creation-icon {
      width: 20px;
    }
  }
  .cont-search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    .form-search-bar {
      margin-bottom: 2%;
      width: 40%;
      .search-bar {
        width: 100%;
      }
      .btn-search {
        background-color: #aba09c;
      }
    }
  }
}

hr {
  margin-bottom: 2%;
}

