.card-link {
  // width: 950px;
  position: relative;
  color: #000;
  border: none;
  border-radius: 4px;
  box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 9%);
}
.cont-img-txt {
  display: flex;
  width: 100%;
  height: 23rem;
}
.cont-img {
  width: 28%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 19%);
  }
}
.cont-infos-missing {
  width: 72%;
  padding: 1% 2% 0 2%;
  position: relative;
}
.cont-status-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  background-color: #f4f3f3b5;
  padding: 1% 2% 1% 2%;
  border-radius: 4px;
  box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 5%);
  .author {
    font-size: 11px;
  }
  .author-margin {
    margin-right: 10%;
  }
  .status-current {
    font-weight: bold;
    color: red !important;
  }
  .status {
    font-weight: bold;
    color: green;
  }
}
.cont-profile-picture {
   width: 5%;
   img {
    border-radius: 50%;
   }
}
.cont-place-date {
  margin-bottom: 2%;
}
.field-disappearance {
  margin-bottom: 1%;
}
.missing-place {
  margin-left: 1%;
}
.cont-description {
  height: 50rem;
  padding: 1% 0 0 2%;
  border-radius: 4px;
  max-height: 200px;
  overflow: auto;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 6%);
}
.field-description {
  color: black;
  word-wrap: break-word;
}
.cont-edit-delete {
  position: absolute;
  top: 3%;
  right: 2%;
  svg {
    width: 66%;
  }
}


@media (max-width: 1200px)  {
  .cont-img-txt {
    height: 24rem;
  }
}

@media (max-width: 991px)  {

}

@media (max-width: 768px)  {
  .cont-img {
    position: unset;
    float: right;
    height: 301px;
    padding: 1% 1% 0 0;
    margin-top: 1%;
    img {
      border-radius: 0 4px 4px 0;
    }
  }
  .padding-img {
    padding: 6% 1% 0 0;
  }
  .cont-infos-missing {
    width: 72%;
  }
  .cont-description {
    width: 100%;
  }
  .cont-img-txt {
    display: unset;
    height: 20rem;
  }
}

@media (max-width: 600px)  {
  .cont-edit-delete {
    top: 48%;
    svg {
      width: 60%;
    }
  }
  .cont-img {
    padding: 0;
    width: 100%;
    margin: 0 0 7% 0;
    img {
      border-radius: 4px 4px 0px 0;
    }
  }
  .cont-infos-missing {
    font-size: 13px;
    width: 100%;
  }
}




