.card-link {
  // width: 950px;
  position: relative;
  color: #000;
  border: none;
  border-radius: 4px;
  box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 9%);
}
.cont-img-txt {
  display: flex;
  width: 100%;
  height: 30rem;
}
.cont-img {
  width: 28%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.cont-infos-missing {
  width: 72%;
  padding: 1% 2% 0 2%;
  position: relative;
}
.cont-status-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  background-color: #F1F1F1;
  padding: 1% 2% 1% 2%;
  border-radius: 4px;
  .author {
    font-size: 11px;
  }
  .author-margin {
    margin-right: 10%;
  }
  .status {
    font-weight: bold;
    color: green;
  }
  .status-retrouve {
    font-weight: bold;
    color: red !important;
  }
}
.cont-place-date {
  margin-bottom: 2%;
}
.field-disappearance {
  margin-bottom: 1%;
}
.missing-place {
  margin-left: 1%;
}
.cont-description {
  height: 50rem;
  padding: 1% 0 0 2%;
  border-radius: 4px;
  max-height: 200px;
  overflow: auto;
  background-color: #ecececb5;
}
.field-description {
  color: black;
  word-wrap: break-word;
}
.cont-edit-delete {
  position: absolute;
  top: 3%;
  right: 2%;
  svg {
    width: 66%;
  }
}


@media (max-width: 1200px)  {
  .cont-img-txt {
    height: 24rem;
  }
}

@media (max-width: 991px)  {

}

@media (max-width: 768px)  {
  .cont-img {
    width: 16%;
    position: absolute;
    right: 2%;
  }
  .cont-infos-missing {
    width: 83%;
  }
  .cont-description {
    width: 122%;
  }
}

@media (max-width: 600px)  {
  .cont-img {
    width: 20%;
    position: absolute;
    right: 2%;
  }
  .cont-infos-missing {
    width: 79%;
  }
  .cont-description {
    width: 128%;
  }
}

@media (max-width: 580px)  {

}




