<div class="container-home">
  <div class="body-container">
    <!-- Home page -->
    <div class="body-title">
      <h1>BIENVENUE SUR MISSING</h1>
      <h2>
        La plateforme communautaire dédiée à aider dans les cas de personnes disparues. Explorez nos ressources, partagez des
        informations et rejoignez la communauté pour apporter espoir et soutien à ceux qui recherchent leurs proches disparus.
      </h2>
      <a class="nav-links" routerLink="posts-index">
        <button>DÉCOUVRIR</button>
      </a>
    </div>
  </div>
</div>
