.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  margin: 1% 0 1% 1%;
}

footer  {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
}
