.container-login {
  position: relative;
  height: 100%;
  padding: 12% 16% 0% 16%;
}

.content-login {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
}

.link-index {
  position: absolute;
  top: 12%;
  left: 2%;
}

.logo {
  margin-bottom: 2%;
}

.btn {
  text-align: center;
}

.btn-login {
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
}

.btn-invalid-form {
  background-color: #edecec;
}

.btn-valid-form {
  background-color: #6B7280;
}

.message {
  margin-top: 1%;
  color: red;
  font-size: 12px;
}
