/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #ffffff;
  height: 100%;
  margin: 0 !important;
}
body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-pages {
  height: 130vh;
  width: 100%;
  background-color: rgb(250 250 250);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
